body{
	background-color: #232323;
	display: flex;flex-direction: column;justify-content: flex-start;
	height: 100vh;
	color: #eeefee;
}

#maintext{
	font-size: 69pt;
	font-family:"Lucida Console",monospace,sans-serif;margin: auto;
}

#void{font-size:55pt;}

#legend{
	font-family:cursive;
	font-size: 23pt;
	position:fixed;bottom: 0px;right: 30px;
}
